#desordenadas li{
    background-color: red;  
    margin-bottom: 8px;
}
.fondo_naranja{
    background-color: orange;
    color: white;
    font-size: 5rem;
}

h2{
    color:red;
    font-size: 5rem;
}

h2{
    font-size: 5rem;
}

a:visited{
    background-color: black;
    color: green;
}

a:link{
    color: yellow;
    font-size: 5rem;
}

a{
    color: black;
}

a:hover{
    color: blue;
}

th:active{
    background-color: black;
}

body{
    font-size: 32px;
}